{%- if args["module"] -%}
if (typeof require != "function")
{
  var require = function(module)
  {
    if (!(module in require.scopes))
    {
      let scope = {exports: {}};
      require.scopes[module] = require.modules[module](scope, scope.exports);
    }
    return require.scopes[module];
  };
  require.modules = Object.create(null);
  require.scopes = Object.create(null);
}

{% if args["injectinfomodule"] %}
require.modules["info"] = function(module, exports)
{
{% if type == "gecko" %}
{% include "geckoInfo.js.tmpl" %}
{% elif type == "chrome" %}
{% include "chromeInfo.js.tmpl" %}
{% elif type == "edge" %}
{% include "edgeInfo.js.tmpl" %}
{% endif %}
return module.exports;
};
{% endif %}

{%- for module_name, script in modules -%}
require.modules[{{ module_name|json }}] = function(module, exports)
{
{{ script }}
return module.exports;
};

{% endfor -%}
{%- set modules = dict(modules) -%}
{%- for module_name in args["autoload"] -%}
{%- if module_name in modules -%}
require({{ module_name|json }});
{% endif %}
{%- endfor -%}
{%- else -%}
{%- for module_name, script in modules -%}
{{ script }}
{% endfor -%}
{%- endif -%}
