<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<BlockMap xmlns="http://schemas.microsoft.com/appx/2010/blockmap" HashMethod="http://www.w3.org/2001/04/xmlenc#sha256">
  {% for file in files -%}
  <File Name="{{file.name}}" Size="{{file.size}}" LfhSize="{{file.lfh_size}}">
    {% for block in file.blocks -%}
    <Block Hash="{{block.hash}}"/>
    {% endfor -%}
  </File>
  {% endfor -%}
</BlockMap>
