<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap3">

  <Identity
    Name="{{app_id}}"
    Publisher="{{metadata.get('general', 'publisher_id')}}"
    Version="{{version}}" />

  <Properties>
    <DisplayName>{{display_name}}</DisplayName>
    <PublisherDisplayName>{{metadata.get('general', 'author')}}</PublisherDisplayName>
    <Logo>{{logo_50}}</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="{{windows_version.min}}"
      MaxVersionTested="{{windows_version.max}}" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us"/>
  </Resources>

  <Applications>
    <Application Id="App">
      <uap:VisualElements
        AppListEntry="none"
        DisplayName="{{display_name}}"
        Square150x150Logo="{{logo_150}}"
        Square44x44Logo="{{logo_44}}"
        Description="{{description}}"
        BackgroundColor="{{metadata.get('general', 'background_color')}}">
      </uap:VisualElements>
      <Extensions>
      <uap3:Extension Category="windows.appExtension">
        <uap3:AppExtension Name="com.microsoft.edge.extension"
          Id="{{app_extension_id}}"
          PublicFolder="Extension"
          DisplayName="{{display_name}}">
          <uap3:Properties>
            <Capabilities>
              <Capability Name="websiteContent"/>
              <Capability Name="browserStorage"/>
              <Capability Name="websiteInfo"/>
              <Capability Name="browserWebRequest"/>
            </Capabilities>
          </uap3:Properties>
        </uap3:AppExtension>
      </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>

</Package>
